.entry {
  padding-bottom: 12px;
}

#flag {
  font-style: italic;
}

.edge {
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  padding: 25px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
	}
