<div>
  <div *ngIf="model">
    <h1>{{title}} Expense Form</h1>
    <form #expenseForm="ngForm">
      <div class="form-group">
        <label for="name"> Description <span>*</span></label>
        <input placeholder="Parking Ticket..." type="text" class="form-control" id="description" required [(ngModel)]="model.description" name="description" #description="ngModel">
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          First name is required
        </div>
      </div>
      <div class="form-group">
        <label for="name">Purchase Date <span>*</span></label>
        <div class="input-group">
          <input class="form-control" placeholder="mm-dd-yyyy" name="dp1" [(ngModel)]="model.purchaseDate" ngbDatepicker #d1="ngbDatepicker" name="purchaseDate" #purchaseDate="ngModel">
          <div class="input-group-addon" (click)="datePreviewSetup(d1, d2)">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
        <div [hidden]="purchaseDate.valid || purchaseDate.pristine" class="alert alert-danger">
          Purchase date is required
        </div>
      </div>
      <div class="form-group">
        <label for="name">Reimburse Date</label>
        <div class="input-group">
          <input class="form-control" placeholder="mm-dd-yyyy" name="dp2" [(ngModel)]="model.reimbursedDate" ngbDatepicker #d2="ngbDatepicker" name="reimbursedDate" #reimbursedDate="ngModel">
          <div class="input-group-addon" (click)="d2.toggle(); d1.close();">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Cost <span>*</span></label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input placeholder="1350.00" type="number" min="0" step="1" class="form-control" id="cost" required [(ngModel)]="model.cost" name="cost" #cost="ngModel">
        </div>
        <div [hidden]="cost.valid || cost.pristine" class="alert alert-danger">
          An amount for the budget alotted to this expense type is required
        </div>
      </div>
      <div class="form-group">
        <label for="name">Note</label>
        <input placeholder="Notes..." type="text" class="form-control" id="note" required [(ngModel)]="model.note" name="note">
      </div>
      <div class="form-group">
        <ng-template #rtet let-r="result" let-t="termExpenseType">
          {{r.name}}
        </ng-template>
        <label for="typeahead-template">Search for an expense type:</label>
        <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="selectedExpenseType" [ngbTypeahead]="searchExpenseType" [resultTemplate]="rtet" [inputFormatter]="formatterExpenseType" name="expenseType" />
      </div>
      <div class="form-group">
        <ng-template #rte let-r="result" let-t="termEmployee">
          {{r.firstName}} {{r.lastName}}
        </ng-template>
        <label for="typeahead-template">Search for a employees:</label>
        <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="employee" [ngbTypeahead]="searchEmployee" [resultTemplate]="rte" [inputFormatter]="formatterEmployee" name="employee" />
      </div>
      <button type="submit" class="btn btn-success" (click)="onSubmit(model);" [disabled]="!expenseForm.form.valid || expenseForm.form.pristine">{{title}}</button>
      <button class="btn btn-default" routerLink="" (click)="goBack()">Go Back</button>
    </form>
  </div>
