<div class="text-center">
  <h2>{{title}}</h2>
</div>

<form>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="input-group">
          <span class="input-group-addon">First Name</span>
          <input #typeFirstName type="text" class="form-control" placeholder="John" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-lg-5">
        <div class="input-group">
          <span class="input-group-addon">Middle Name</span>
          <input #typeMiddleName type="text" class="form-control" placeholder="Appleseed" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-lg-5">
        <div class="input-group">
          <span class="input-group-addon">Last Name</span>
          <input #typeLastName type="text" class="form-control" placeholder="Smith" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-lg-5">
        <div class="input-group">
          <span class="input-group-addon">Employee Number</span>
          <input #typeEmpId type="text" class="form-control" placeholder="123-456-789" aria-label="Amount (to the nearest dollar)">
        </div>
      </div>
      <div class="col-lg-5">
        <div class="input-group">
          <span class="input-group-addon">Hire Date</span>
          <input #typeHireDate type="text" class="form-control" placeholder="123-456-789" aria-label="Amount (to the nearest dollar)">
        </div>
      </div>
    </div>
    <button #submit>Submit</button>
  </div>

</form>
