ul{
  cursor: pointer;
  }
li{
  border-radius: 0 !important;
  border: 0;
  text-align: center;
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: #bdbdbd;
  margin-bottom: 0;
}
