<!-- Output employees -->
<ul style="float: left;" class="list-group col-md-6">
  <li class="list-group-item text-center" *ngFor="let employee of employees"
  (click)="select(employee)">
    {{ employee.firstName }} {{ employee.middleName }} {{ employee.lastName }}
  </li>
</ul>


<!-- Output error messages -->
<ul class="messages col-md-6">
  <li *ngFor="let msg of messages">{{msg}}</li>
</ul>

<exp-create-btn></exp-create-btn>

<div class="error" (errHandle)=errHandle($event)
*ngIf="errorMessage">{{errorMessage}}</div>


<exp-employee-form *ngIf="selectedEmployee"
[employee]="selectedEmployee" (errHandle)=errHandle($event)>
</exp-employee-form>
