<div>
  <div *ngIf="model">
    <h1>{{title}} Employee Form</h1>
    <form #employeeForm="ngForm">

      <div class="form-group">
        <label for="name">First Name <span>*</span></label>
        <input placeholder="Johnny" type="text" class="form-control" id="firstName" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
          First name is required
        </div>
      </div>

      <div class="form-group">
        <label for="name">Middle Name</label>
        <input placeholder="Appleseed" type="text" class="form-control" id="middleName" required [(ngModel)]="model.middleName" name="middleName">
      </div>
      <div class="form-group">
        <label for="name">Last Name <span>*</span></label>
        <input placeholder="Smith" type="text" class="form-control" id="lastName" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
          Last name is required
        </div>
      </div>

      <div class="form-group">
        <label for="name">Employee ID <span>*</span></label>
        <input placeholder="12345678" type="number" min="0" step="1" class="form-control" id="empId" required [(ngModel)]="model.empId" name="empId" #empId="ngModel">
        <div [hidden]="empId.valid || empId.pristine" class="alert alert-danger">
          Employee ID is required
        </div>
      </div>

      <div class="form-group">
        <label for="name">Hire Date <span>*</span></label>
        <div class="input-group">
          <input class="form-control" placeholder="mm-dd-yyyy" name="dp" [(ngModel)]="model.hireDate" ngbDatepicker #d="ngbDatepicker" name="hireDate" #hireDate="ngModel">
          <div class="input-group-addon" (click)="d.toggle()">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
        <div [hidden]="hireDate.valid || hireDate.pristine" class="alert alert-danger">
          Hire date is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" (click)="onSubmit(model);" [disabled]="!employeeForm.form.valid || employeeForm.form.pristine">{{title}}</button>

      <button class="btn btn-default" routerLink="" (click)="goBack()">Go Back</button>
    </form>
  </div>
