<div class="container col-md-4">
  <div [hidden]="reviewing">
    <h1>Employee Form</h1>
    {{diagnostic}}
    <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">

      <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
          First name is required
        </div>
      </div>

      <div class="form-group">
        <label for="name">Middle Name</label>
        <input type="text" class="form-control" id="middleName" required [(ngModel)]="model.middleName" name="middleName">
      </div>
      <div class="form-group">
        <label for="name">Last Name</label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
          Last name is required
        </div>
      </div>

      <div class="form-group">
        <label for="name">Employee ID</label>
        <input type="text" class="form-control" id="empId" required [(ngModel)]="model.empId" name="empId" #empId="ngModel">
        <div [hidden]="empId.valid || empId.pristine" class="alert alert-danger">
          Employee ID is required
        </div>
      </div>

      <div class="form-group">
        <label for="name">Hire Date</label>
        <input type="text" class="form-control" id="hireDate" required [(ngModel)]="model.hireDate" name="hireDate" #hireDate="ngModel">
        <div [hidden]="hireDate.valid || hireDate.pristine" class="alert alert-danger">
          Hire date is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" (click)="onSubmit();" [disabled]="!employeeForm.form.valid || employeeForm.form.pristine">Create</button>
       <!-- TODO Make the form go away on cancel -->
      <button class="btn btn-default" (click)="cancelSubmission(false)">Cancel</button>
    </form>
  </div>

  <!--  -->
  <div [hidden]="!reviewing">
    <h2>{{ model.firstName }} {{ model.middleName }} {{ model.lastName }}</h2>
    <div class="row">
      <div class="col-xs-3"> Employee ID:</div>
      <div class="col-xs-9  pull-left"> {{ model.empId }} </div>
    </div>
    <div class="row">
      <div class="col-xs-3"> Hire Date </div>
      <div class="col-xs-9  pull-left"> {{ model.hireDate | date:'MM/dd/y' }} </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success" (click)="create(model)">Submit</button>
    <button class="btn btn-default" (click)="reviewing=false">Wait a second..</button>
  </div>
</div>
