<div *ngIf="model">
  <button class="close" routerLink='/'><i class="fa fa-times"></i></button>
  <h2>{{ model.firstName }} {{ model.middleName }} {{ model.lastName }}</h2>
  <div class="row">
    <div class="col-3"> Employee ID:</div>
    <div class="col-9  pull-left"> {{ model.empId }} </div>
  </div>
  <div class="row">
    <div class="col-3"> Hire Date: </div>
    <div class="col-9  pull-left"> {{ model.hireDate | date:'MM/dd/y' }} </div>
  </div>
  <br>
  <button type="submit" class="btn btn-secondary" [routerLink]="['/employee/update', model.id]">Edit</button>
  <exp-delete-confirm [modelToDelte]="model"></exp-delete-confirm>
</div>
