<div *ngIf="model" class="">
  <div class="row">
    <h2 class="col-5">{{ model.firstName }} {{ model.middleName }} {{ model.lastName }}</h2>
    <button class="close" routerLink='/employees'><i class="fa fa-times"></i></button>
  </div>
  <br />
  <div class="row entry">
    <div class="col-3"> Hire Date: </div>
    <div class="col-3"> {{ model.hireDate | date:'MM/dd/y' }} </div>
  </div>
  <div class="row entry">
    <div class="col-3"> Employee ID:</div>
    <div class="col-3"> {{ model.empId }} </div>
  </div>
  <br />
  <button type="submit" class="btn btn-secondary" [routerLink]="['/employees/', model.id,'update']">Edit</button>
  <exp-delete-confirm [modelToDelete]="model"></exp-delete-confirm>
</div>
