.navbar-fixed-left {


  border-radius: 0;
  height: 100vh;
  background-color: #E2E3E9;
  padding-left: 0;
  padding-right: 0;
}


i {
  color: #FDFDFD;
}

ul{
  color:
}

li
{
  padding-right: 10%;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: background-color 0.2s ease;
}

.navbar-nav>li:hover
{
    background-color: #68CAA6;
}

#logo {
  padding-bottom: 50px;
  padding-top: 10px;
  color: #FDFDFD;
}
