<div>
  <div *ngIf="model">
    <h1>{{title}} Expense Type</h1>
    <form #expenseTypeForm="ngForm">

      <div class="form-group">
        <label for="name">Name <span>*</span></label>
        <input placeholder="Category" type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          A name is required
        </div>
      </div>

      <div class="form-group">
        <label for="Description">Description <span>*</span></label>
        <textarea placeholder="A brief description so employees know what this category of expenses will be used for" rows="4" class="form-control" id="description" required [(ngModel)]="model.description" name="description" #description="ngModel"> </textarea>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          A description is required
        </div>
      </div>

      <div class="form-group">
        <label for="name">Budget <span>*</span></label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input placeholder="12345678" type="number" min="0" step="1" class="form-control" id="budget" required [(ngModel)]="model.budget" name="budget" #budget="ngModel">
        </div>
        <div [hidden]="budget.valid || budget.pristine" class="alert alert-danger">
          An amount for the budget alotted to this expense type is required
        </div>
      </div>

      <!-- Should be a switch -->
      <div class="form-group">
        <label class="custom-control custom-checkbox">
          <input id="odFlag" type="checkbox" class="custom-control-input" name="odFlag" [(ngModel)]="model.odFlag">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Overdraft allowed</span>
        </label>
      </div>

      <button type="submit" class="btn btn-success" (click)="onSubmit(model);" [disabled]="!expenseTypeForm.form.valid || expenseTypeForm.form.pristine">{{title}}</button>

      <button class="btn btn-default" routerLink="" (click)="goBack()">Go Back</button>
    </form>
  </div>
