<div *ngIf="employee && expenseType" class="card animated fadeIn">

  <h5 class="card-header">{{ model.description }}</h5>

  <table class="table table-sm table-style">
    <tbody>
      <tr>
        <th scope="row">Category</th>
        <td>{{expenseType.budgetName}}</td>
      </tr>
      <tr>
        <th scope="row">Cost</th>
        <td>{{ model.cost | currency:'USD':true:'1.2-2' }} of {{ expenseType.budget | currency:'USD':true:'1.2-2' }}
        </td>
      </tr>
      <tr>
        <th scope="row">Employee</th>
        <td>{{employee.firstName}} {{employee.lastName}}</td>
      </tr>
      <tr>
        <th scope="row">Purchase Date</th>
        <td>{{model.purchaseDate | date}}</td>
      </tr>
    </tbody>
  </table>
  <div class="form-group text-center">
    <label class="custom-control custom-checkbox">
        <input id="reimbursed" type="checkbox" class="custom-control-input" name="reimbursed" [(ngModel)]="reimburseFlag" (ngModelChange)="updateDate(model)">
        <span class="custom-control-description">Reimbursed</span>
        <span class="custom-control-indicator"></span>
    </label>
  </div>
  <br />
</div>
