<div class="col-12">
  <div>
    <b>Description: </b>{{ model.description}}
  </div>
  <div>
    <b>Cost: </b>{{ model.cost | currency:'USD':true:'1.2-2' }} of {{ expenseType.budget | currency:'USD':true:'1.2-2' }}
  </div>
  <div>
    <b>Employee: </b>{{employee.firstName}} {{employee.lastName}}
  </div>
  <div>
    <b>Expense Type: </b>{{expenseType.name}}
  </div>
  <div>
    <b>Purchase Date: </b>{{model.purchaseDate | date}}
  </div>
  <div class="form-group">
    <label class="custom-control custom-checkbox">
        <input id="reimbursed" type="checkbox" class="custom-control-input" name="reimbursed" [(ngModel)]="reimburseFlag" (ngModelChange)="updateDate(model)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Reimbursed</span>
      </label>
  </div>
  <br />
</div>
