<div class="row">
  <div class="col-4">
    <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t">
    </ngb-datepicker>

    <ng-template #t let-date="date" let-focused="focused">
      <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template>
    <hr />
  </div>
  <div class="col-4">
    <div class="form-group">
      <ng-template #rtet let-r="result" let-t="termExpenseType">
        {{r.name}}
      </ng-template>

      <label for="typeahead-template">Search for an expense type:</label>
      <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="expenseType" [ngbTypeahead]="searchExpenseType" [resultTemplate]="rtet" [inputFormatter]="formatterExpenseType" name="expenseType" (ngModelChange)="refilter()" />
    </div>

    <div class=" form-group ">
      <ng-template #rte let-r="result " let-t="termEmployee ">
        {{r.firstName}} {{r.lastName}}
      </ng-template>

      <label for="typeahead-template ">Search for an employee:</label>
      <input id="typeahead-template " type="text " class="form-control " [(ngModel)]="employee " [ngbTypeahead]="searchEmployee " [resultTemplate]="rte " [inputFormatter]="formatterEmployee " name="employee " (ngModelChange)="refilter() " />
    </div>
    <label>Reimbursed</label>
    <div class="form-group">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="displayUnreimbursed" name="displayUnreimbursed" (ngModelChange)="refilter()">
        <span class="slider round"></span>
      </label>
    </div>

  </div>
  <div class="col-4">
    <exp-expense-totals *ngIf="expensesInRange" [criteriaArray]="expensesInRange"></exp-expense-totals>
  </div>
</div>
<div class="row">
  <div class="card-columns col-12 ">
    <exp-expense-card *ngFor="let expense of expensesInRange " [model]="expense "></exp-expense-card>
  </div>
</div>
