<div class="row">
  <div class="col-8">
    <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="3" [dayTemplate]="t">
    </ngb-datepicker>

    <ng-template #t let-date="date" let-focused="focused">
      <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template>
    <hr />
  </div>
  <div class="col-4">
    <div class="form-group">
      <ng-template #rte let-r="result" let-t="termEmployee">
        {{r.firstName}} {{r.lastName}}
      </ng-template>

      <label for="typeahead-template">Search for a employees:</label>
      <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="employee" [ngbTypeahead]="searchEmployee" [resultTemplate]="rte" [inputFormatter]="formatterEmployee" name="employee" (ngModelChange)="getEmployeeRange()" />
    </div>
  </div>
  <div class="card-columns col-12">
    <exp-expense-card *ngFor="let expense of expensesInRange" [model]="expense"></exp-expense-card>
  </div>
</div>
