/* You can add global styles to this file, and also import other style files */
h1 {
font-family: 'Quicksand', sans-serif;
font-weight: bold;
}

h2 {
  font-family: 'Quicksand', sans-serif;
}

body { background: #fcfcfc }
