.modal-header {
  padding-top: 0;
  border-bottom: none;
}

.close {
  display: block;
  position: absolute;
  margin-right: 2%;
  margin-top: 2%;
  font-weight: 100;
  font-size: larger;
  top: 0;
  right: 0;

}
.modal-body .btn {
  display: block;
  width: 50%;
  border-radius: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}

p {
  display: block;
  float: right;
  margin-right: 10%;
  margin-top: 10%;
  padding-right: 8%;
}

i {
  color: #E84544;
  display: block;
  float: left;
  margin-left: 10%;
  margin-top: 6%;
}

.modal-body .btn-default {
  float: left;
  background-color: #f4f4f4;
  border-bottom-left-radius: 2px;

}
.modal-body .btn-danger {
  float: right;
  background-color: #E84544;
  border-bottom-right-radius: 2px;
}

.modal-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
