<!-- Output expenses -->
<div class="row">
  <div class="col-4">
    <h1>Expenses</h1>
    <button id="create-btn" [routerLink]="['create']" class="btn btn-outline-success"><i class="fa fa-plus fa-1x"></i> EXPENSE</button>

    <ul class="list-group">
      <li class="list-group-item text-center" [routerLink]="['/expenses', expense.id]" [class.selected]="expense === selectedExpense" *ngFor="let expense of expenses" (click)="selectedExpense = expense">
        {{ expense.description }}
      </li>
    </ul>
  </div>

  <div class="col-5">
    <router-outlet></router-outlet>
  </div>

</div>
